body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    background-color: antiquewhite;
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: brown;
    }

  .image-container {
    position: relative; /* ตั้งค่าให้เป็นตำแหน่งเริ่มต้นสำหรับองค์ประกอบภายใน */
    width: 500px; /* กำหนดความกว้างของคอนเทนเนอร์รูปภาพ */
    
  }
  
  .image-container img {
    width: 100%; /* ทำให้ภาพแสดงอยู่ในขนาดเต็มของคอนเทนเนอร์ */
    height: auto; /* ปรับความสูงอัตโนมัติเพื่อรักษาสัดส่วน */
 
  }
  .music {
    background-color: antiquewhite;
  }
  footer {
    background-color: antiquewhite;
    text-align: right;
  }